@include respond(mobile) {
  .menu {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 3;
  }
  .PART_1 {
    h1 {
      font-size: 25px;
    }
  }
  nav ul {
    display: block;
    width: 100%;
  }
  .Service {
    flex: 1 1 100%; /* One column for mobile screens */
  }
  footer {
    ul {
      display: flex;
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center items horizontally */
    }
    li {
      padding: 10px 0;
      border-bottom: 2px solid $BACKGROUND-COLOR;
    }
    li + li::before {
      float: left;
      content: "";
    }
    .cards {
      display: flex;
      flex-direction: column;
    }
    .card {
      margin-bottom: 1rem;
    }
    .cards .card.active {
      transform: scale(1);
    }
    .bottom-bar {
      visibility: visible;
    }
  }
  .container {
    flex-direction: column;
  }

  .right-section-wrapper {
    height: 20vh;
    padding: 0 10% 0 10%;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 32px;
  }

  .description {
    padding-bottom: 0px;
  }

  .left-section-wrapper {
    height: 65vh;
  }

  .form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    flex-direction: column;
  }

  .form input {
    width: 80%;
    padding: 16px;
    margin-left: 10%;
    margin-left: 10%;
    align-self: center;
  }

  .form button {
    width: 80%;
    padding: 16px;
    margin-left: 10%;
    margin-left: 10%;
    align-self: center;
  }

  .form p {
    width: 80%;
    margin-left: 10%;
    margin-left: 10%;
  }
  @media screen and (max-width: 400px) {
    .right-section-wrapper {
      height: 20vh;
    }

    .title {
      padding-top: 20px;
    }
  }
}
