@include respond("tablet") {
  .main-menu {
    padding: 0 10%;
  }
  .bouton-check {
    display: block;
    margin-right: 40px;
  }

  nav {
    ul {
      position: fixed;
      width: 350px;
      height: 100vh;
      background: #ffffff;
      top: 68px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
    ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  }
  #check:checked ~ ul {
    left: 0;
  }
  .Service {
    flex: 1 1 calc(50% - 20px); /* Two columns when screen is smaller */
  }
  .PART_3 {
    .chat3 {
    }
  }
  .container {
    flex-direction: column;
  }

  .right-section-wrapper {
    height: 30vh;
    padding: 0 5% 0 5%;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 42px;
    padding-top: 40px;
    padding-bottom: 32px;
  }

  .description {
    padding-bottom: 0px;
  }

  .left-section-wrapper {
    height: 65vh;
  }

  .form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    flex-direction: column;
  }

  .form input {
    width: 80%;
    padding: 16px;
    margin-left: 10%;
    margin-left: 10%;
    align-self: center;
  }

  .form button {
    width: 80%;
    padding: 16px;
    margin-left: 10%;
    margin-left: 10%;
    align-self: center;
  }

  .form p {
    width: 80%;
    margin-left: 10%;
    margin-left: 10%;
  }
  @media screen and (max-width: 400px) {
    .right-section-wrapper {
      height: 75vh;
    }

    .title {
      padding-top: 20px;
    }
  }

  @media (min-width: map-get($breakpoints, "mobile")) and (max-width: map-get($breakpoints, "tablet")) {
    .card {
      margin-bottom: 1rem;
      margin-right: 1rem;
    }
    .cards .card.active {
      transform: scale(1);
    }

    .PART_4-toggle {
      padding: 10px 10px;
      width: 100%;
    }
    .cards {
      display: flex;
      flex-direction: row;
      width: 550px;
    }
    .card {
      height: 75px;
      width: 100%;
      padding: 10px 10px;
      margin: 30px 10px;

      /* existing styles */
      overflow: hidden;
      max-width: 100%;
      box-sizing: border-box;
    }

    .PART_4 {
      flex-direction: column;
      padding: 0px;
      ul {
        position: absolute;
      }
    }
    .bottom-bar {
      visibility: hidden;
    }
    #master {
      visibility: visible;
      position: relative;
      top: -115px;
      left: 235px;
      border: none;
    }
    #professionel {
      visibility: visible;
      position: relative;
      top: 125px;
      left: 225px;
      border: none;
    }
    #basic {
      visibility: visible;
      position: relative;
      top: -115px;
      left: 235px;
      border: none;
    }
    .btn {
      visibility: hidden;
    }
    .pack {
      visibility: visible;
      position: relative;
      top: -45px;
      right: 75px;
      font-size: 25px;
    }
    .pack2 {
      visibility: visible;
      position: relative;
      top: 200px;
      right: 60px;
      font-size: 25px;
    }
  }
}
